@import "../../partials/variables";
.Input {
  border: 1px solid $lightgray;
  border-radius: 3px;
  min-height: 40px;
  max-width: 100%;
  padding: 15px;

  box-sizing: border-box !important;
  &:active,
  &:focus {
    outline: none;
    border: 1px solid $secondary_color_shade_3;
  }
  &:focus::placeholder {
    color: transparent;
  }
}

.invalid {
  border: 1px solid $danger;
  &:active,
  &:focus {
    outline: none;
  }
}
