@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&family=Raleway:wght@700&display=swap");

/* Website theme colors */
$primary_color_shade_1: #1e8582;
$primary_color_shade_2: #49b8ad;
$primary_color_shade_3: #273469;
$secondary_color_shade_1: #f8951b;
$secondary_color_shade_2: #fb9448;
$secondary_color_shade_3: #fbbc46;
$gray: #787878;
$lightgray: #e5e5e5;
$danger: #ff0a0a;

/* Fonts Families*/
$Raleway: Raleway, sans-serif;
$Muli: Mulish, sans-serif;
