@mixin flex-props {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.SubRegistrationForm {
  @include flex-props;
  align-items: center;
  width: 100%;
  margin: 40px 0;
  padding: 40px;
}
